@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: var(inter);
  
}

.gradient-bg{
  background-color:#99ffbb;
  background-image:
  radial-gradient(at 43% 6%, hsla(238,87%,62%,1) 0px, transparent 50%),
  radial-gradient(at 69% 74%, hsla(205,96%,75%,1) 0px, transparent 50%),
  radial-gradient(at 3% 12%, hsla(205,66%,66%,1) 0px, transparent 50%),
  radial-gradient(at 43% 76%, hsla(185,78%,73%,1) 0px, transparent 50%),
  radial-gradient(at 65% 31%, hsla(194,84%,72%,1) 0px, transparent 50%),
  radial-gradient(at 68% 55%, hsla(345,98%,75%,1) 0px, transparent 50%),
  radial-gradient(at 96% 69%, hsla(30,68%,62%,1) 0px, transparent 50%),
  radial-gradient(at 27% 46%, hsla(276,62%,77%,1) 0px, transparent 50%);
}

input, select{
  height:50px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid #d6d4d4;
}

select{
  width: 100%;
  min-width: 15ch;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}


input:hover, select:hover{
  transition: 300ms all ease-in-out;
  border: 1px solid #000000e5;
}

input:focus, select:focus{
  transition: 300ms all ease-in-out;
  border: 1px solid black;
}

/* input:invalid{
  border: 1px solid red;
} */

.form{
  box-shadow: -10px 10px 8px 0px rgba(10,10,10,0.35);
  -webkit-box-shadow: -10px 10px 8px 0px rgba(10,10,10,0.35);
  -moz-box-shadow: -10px 10px 8px 0px rgba(10,10,10,0.35);
}

._blur{
  background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
}

.btn-grad {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, #515ef0 0%, #8edee9  51%, #99ffbb  100%);
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #000;
  text-decoration: none;
}
